<%- include('partials/header') %>
    <%- include('partials/nav', {isLogin: true}) %>
    <h1>Unsecure Banking System</h1>
    <div class="container-fluid main-container">
      <div class="row">
        <div class="col-4">
          <h4>Total Money</h4>
          <p>$ <%= amount %></p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-4">
          <h4>Deposit</h4>
          <form action="/deposit">
            <label for="amount"> Amount: $</label>
            <input type="number" name="amount"> 
            <button type="submit" class="btn btn-primary">Deposit</button>
          </form>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-4">
          <h4>Transfer</h4>
          <form action="/transfer">
            <div class="mb-3">
              <label for="to" class="form-label"> To: </label>
              <input type="email" name="to"> 
            </div>
            <div class="mb-3">
              <label for="amount" class="form-label"> Amount: $</label>
              <input type="number" name="amount"> 
            </div>
            <button type="submit" class="btn btn-primary">Transfer</button>
          </form>
        </div>
      </div>
    </div>
<%- include('partials/footer') %>